[Unit]
Description=Babeld Service
Wants=network.target
After=network.target

[Service]
Type=simple
ExecStartPre=-/usr/bin/rm /var/run/babeld.pid
ExecStart=/usr/local/bin/babeld -G 999 -c /etc/babeld.conf -L /var/log/babeld.log wg0
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
