SUBSYSTEM!="net", GOTO="mesh_end"
ACTION!="add", GOTO="mesh_end"

IMPORT{builtin}="net_setup_link"

PROGRAM="/usr/local/sbin/mesh.wlan.setup %k"

LABEL="mesh_end"