[Unit]
Description=Daemon that adds peers from cjdns for ipfs bootstrapping
Requires=ipfs.service cjdns.service
After=ipfs.service cjdns.service

[Service]
Type=simple
ExecStart=/usr/local/bin/check-and-add-peers.sh
ExecStop=kill check-and-add-peers.sh
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
