# This is a systemd service for Rita
[Unit]
Description=rita
Requires=network.target
After=babeld.service

[Service]
Type=simple
TimeoutStartSec=10s
Restart=on-failure
RestartSec=10
Environment=RUST_LOG=INFO
ExecStart=/usr/bin/rita --config=/etc/rita.toml --platform=linux

[Install]
WantedBy=default.target
