# Copyright (C) 2017 Hamish Coleman <hamish@zot.org>
#
# any wlan device with a *hostap.link file will get a hostapd running

SUBSYSTEM!="net", GOTO="hostapd_end"
ACTION!="add", GOTO="hostapd_end"

IMPORT{builtin}="net_setup_link"

ENV{ID_NET_LINK_FILE}=="*hostap.link", \
    TAG+="systemd", ENV{SYSTEMD_WANTS}="hostapd@%k.service", \
    PROGRAM="/usr/local/sbin/hostapd.template %k %E{ID_NET_LINK_FILE}"

LABEL="hostapd_end"