[Match]
Name=br-ap

[Network]
Address=10.0.0.1/24
Gateway=10.0.0.1
DHCPServer=true
LLMNR=true
MulticastDNS=true
LLDP=true
EmitLLDP=true
IPForward=true
