[Unit]
Description=hostapd IEEE 802.11 Access Point
After=sys-subsystem-net-devices-wlan0.device
BindsTo=sys-subsystem-net-devices-wlan0.device

[Service]
Type=forking
PIDFile=/var/run/hostapd.pid
ExecStart=/usr/sbin/hostapd -B /etc/hostapd/hostapd.conf -P /var/run/hostapd.pid
ExecStartPost=/bin/sh -c "exec iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE"

[Install]
WantedBy=multi-user.target
