[Unit]
Description=Mesh Ad-hoc Service
Wants=network.target
After=network.target

[Service]
Type=idle
ExecStart=/usr/bin/mesh-adhoc
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
