[Unit]
Description=BMX7
Wants=network.target
After=network.target

[Service]
SyslogIdentifier=BMX7
ExecStart=/usr/sbin/bmx7 dev=wlan0 dev=wlan1 dev=eth0
Restart=always

[Install]
WantedBy=multi-user.target
