[Unit]
Description=Yggdrasil IPTunnel service for exit nodes
Wants=network.target
Requires=yggdrasil.service
After=network.target yggdrasil.service

[Service]
Type=idle
ExecStart=/usr/local/sbin/yggdrasil-setup

[Install]
WantedBy=multi-user.target