[Unit]
Description=IPFS daemon
Wants=network.target
After=network.target

[Service]
Type=simple
Environment=IPFS_PATH=__USER_HOME__/.ipfs
ExecStart=/usr/local/bin/ipfs daemon --enable-namesys-pubsub --migrate=true
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
