[Unit]
Description=Mesh Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/prototype-cjdns-pi2/scripts/start.sh

[Install]
WantedBy=multi-user.target
