[Unit]
Description=Scuttlebot (SSB) Service IPv6 Broadcast
Wants=network.target
After=ssb.service

[Service]
Type=simple
ExecStart=/usr/bin/socat UDP6-LISTEN:8008,fork,su=nobody UDP4:127.0.0.1:8008
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
