[Unit]
Description=Scuttlebot (SSB) daemon
Wants=network.target
After=network.target

[Service]
User=__USER__
Group=__USER__
Type=simple
ExecStart=/usr/bin/ssb-server start
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
