[Unit]
Description=Prometheus Node Exporter daemon addons
Wants=prometheus-node-exporter.service
After=prometheus-node-exporter.service

[Service]
Type=simple
ExecStart=/usr/bin/python /opt/tomesh/nodestats-tomesh.py
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
